/* styles.css */
*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9bd9db;
    box-shadow: 0px 2px 5px #ffffff4d
;
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 999;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
    
}

nav li a{
    color: #024f55;
    text-decoration: none;
}

nav li a:hover{
    color: #4000ff;
    text-decoration: none;
}


.logo{
    padding: 0 15px;
}
.logo img{
    width: 95px;
    height: auto;
}

.iconos {
    display: flex;
    
}

.iconos a {
    margin: 0 10px;
    color: #024f55;
    font-size: 18px;
}
.iconos a:hover {
   
    color: #4000ff;
    
}


/* aquì se implementan los estilos css para la seccion uno*/

.principal {
    background-image: url('../imagen/gato.png');
    background-size: cover;
    background-position: center;
    height: 500px; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenidouno {
    width: 100%;
    height: 500px;
    text-align: center;
    color: #fff;
    padding: 2px;
    background: rgba(0, 0, 0, 0.2);
}

.contenidouno h1{
    margin-top: 200px;
    margin-bottom: 15px;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0;
}

.contenidouno h2{
    margin-bottom: 15px;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0;
}

.contenidouno p{
    margin-bottom: 30px;
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.buttons {
    display: flex;
    justify-content:center;
    margin-top: 50px;

}

.button {
    background-color: #2374a7;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    margin: 0 30px;
}

.button:hover {
    background-color: #654fd1;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    margin: 0 30px;
}


/*estilos para el contenido dos*/

.banner {
    background-image: url('../imagen/gato2.png');
    background-size: cover;
    background-position: center;
    height: 300px; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenidodos {
    width: 100%;
    height: 300px;
    text-align: center;
    color: #fff;
    padding: 2px;
    background: rgba(0, 0, 0, 0.574);
}

.contenidodos h2{
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: "Londrina Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.figuras {
    display: flex;
    justify-content: center;
}

.figuras a {
    margin: 0 10px;
    color: #faf7f7;
    font-size: 18px;
}
.figuras a:hover {
   
    color: #f3e306;
    
}




/*creando la seccion 03 del contenido de la pagina*/

  .galeria {
    background-color: #269a7fac;
    padding: 50px 0;
    border-radius: 5px;
   
    }

  .galeria h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #3388e9;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .galeria p {
    color: #000000;
    text-align: center;
    font-size: 14px;
    line-height:5px ;
    margin-bottom: 10px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .contenidotres {
    max-width: 1200px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
  }

  .contenidotres .columna {
    flex: 1;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
  }

  .contenidotres .columna img {
    max-width: 100%;
    height: auto;
    border: 2px solid #04416a;
    padding: 5px;
    border-radius: 4px;
    
  }

  .contenidotres .columna p {
    margin-top: 20px;
    text-align: justify;
    line-height: 20px;
  }

  .contenidotres .columna a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #9eb38d;
    color: #fff;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 20px;
    font-family: "Kumar One Outline", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .contenidotres .columna a:hover {
    background-color: #0056b3;
  }


  
  /*creando el Footer - pie de pagina final de
  la pagina*/
  
  .footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
  }
  
  .filas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  h3, p {
    color: #fff;
    margin: 0;
  }
  
  .social-icons1 {
    display: flex;
  }
  


  /* Aquí puedes agregar tu CSS */
  .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.social-icons li {
    display: inline-block;
}

.social-icons a {
    text-decoration: none;
    color: #d5f0f4;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #0077b5; /* Cambia esto según el color que desees para el hover */
}
  

  